body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: white; 
    color: #F8F8F8;
    padding: 3px;
}

h1 {
    font-family: Arial, sans-serif;
    border-bottom: 3px solid #009999;
    color: #009999;
    font-size: 24px;
}
